{% extends "base.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}
{% block title %}
    Восстановление пароля
{% endblock%}

{% block content %}
    <h1>Сброс пароля</h1>

    {% if user.is_authenticated %}
        Вы уже вошли в систему
    {% endif %}

        <h2>Забыли пароль? Введите email и мы отправим вам письмо с ссылкой для сброса пароля</h2>

    {% url 'account_reset_password' as reset_url %}

    <form method="post">
        {% csrf_token %}
        {{form | crispy }}
        <button class="btn btn-success" type="submit">Получить письмо</button>
    </form>
