{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home, hello!</h1>

    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    {% else %}
        <p>Вы не вошли в систему</p>
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'signup' %}">Зарегистрироваться</a>
    {% endif %}

{% endblock %}